.content{
  width: 60%;
  float: left;
  padding: 0 0 0 30px;
  background: #380A3C;
  color:white;

}
.sidebar{
  width: 40%;
  float:right;
  padding: 5px;
  background: black;


}
h1{
  text-align:center;
  border-bottom: 1px solid yellow;
  padding-bottom: 10px;
}
body{
  color: white;
  background: #380A3C;
}
#date{
  color: yellow;
  font-size: 12px;
  font-style: italic;
}

.name {
  background: black;

}
